---
---

$primary: #cc0000;
$size: 20px;

@mixin border($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

p.redParagraph{
  @include border(10px);
  background-color: blue;
  color: $primary;
  padding: 50px;

  a {
    color: $primary;
    font-weight: bold;
  }
}

.bigParagraph{
  font-size: $size + 12;
}

.box{
  fill: #f3ecb8;
  stroke: red;
  stroke-width: 5px;
}
