/* popupwindown */

#popupBoxOnePosition{
				top: 0; left: 0; position: fixed; width: 100%; height: 100%;
				background-color: rgba(0,0,0,0.7); display: none;
			}
#popupBoxTwoPosition{
				top: 0; left: 0; position: fixed; width: 100%; height: 100%;
				background-color: rgba(0,0,0,0.7); display: none;
      }
.popupBoxWrapper{
    width: 60%; margin: 10px auto; text-align: left;
}
.popupBoxContent{
    background-color: white;padding: 10px;
}

.infomap1{
  color: red;
}

.fullscreen{
  display:block;
  height: 100vh;
}

.arrowdown{
  cursor: pointer;
}

.arrow2{
  cursor: pointer;
  padding-top: 40px;
  margin-left: 45.2%;
}

.arrow3{
  cursor: pointer;
  margin-left: 45.2%;
}

.selectionbarText{
  font-family:Gill Sans,sans-serif;
  font-size: 30px;
}

.chart div{
  font: 12px Gill Sans;

  text-align: right;
  padding: 18px;
  margin: 10px;
  color: black;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#infomap{
  cursor: pointer;
}

#rightButton1{
  cursor: pointer;
}

#rightButton2{
  cursor: pointer;
}

#rightButton3{
  cursor: pointer;
}

#rightButton4{
  cursor: pointer;
}

#leftButton1{
  cursor: pointer;
}

#leftButton2{
  cursor: pointer;
}

#leftButton3{
  cursor: pointer;
}

#leftButton4{
  cursor: pointer;
}

/* Button */

	input[type="button"],
	.button,
	button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		background-color: #414042;
		border: 0;
		border-radius: 0.5em;
		color: white;
    font: 15px Gill Sans;
		cursor: pointer;
		display: inline-block;
		height: 2.5em;
		line-height: 2.5em;
		outline: 0;
		padding: 0 1em 0 1em;
		position: relative;
		text-align: center;
		text-decoration: none;
    font-size: 15px;
	}
.barchartoption{
  padding-top: 50px;
}

#pieChart{
    margin-left: 150px;
    margin-right: auto
}
.box{
	align: right;
}

.selectionbar1{
  margin-top: 100px;
}
.selectionbar2{
  margin-bottom: 100px;
}
